{
  "plugins": [
    "source-map-support",
    "@babel/plugin-transform-runtime",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    "@babel/plugin-proposal-json-strings",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-nullish-coalescing-operator",
    ["module-resolver", {
        "extensions": [".js", ".json"],
        "root": ["."]
      }
    ]
  ],
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" }}]
  ]
}
